@import url(https://fonts.googleapis.com/css?family=Montserrat);

.wrapper {
  background: rgb(187, 203, 245);
  /* background: radial-gradient(
    circle,
    rgb(14, 144, 250) 0%,
    rgb(152, 86, 240) 84%,
    rgb(28, 42, 170) 100%
  );*/
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: "Urbanist", Sans-Serif;
}

.progressbar {
  width: 400px;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
}

.progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: blue;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100vh;
  height: 70vh;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.form-container .header {
  flex: 20%;
  display: grid;
  place-items: center;
}

.form-container .body {
  flex: 80%;
}

.form-container .checkout-footer {
  flex: 20%;
  display: flex;
  justify-content: center;
}

.form-container .checkout-footer button {
  border-radius: 7px;
  width: 120px;
  height: 40px;
  background-color: rgb(36, 101, 187);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  margin: 5px;
}

.form-container .checkout-footer button:hover {
  background-color: blue;
}

.checkout-overview-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkout-overview-container li {
  margin: 5px;
  width: auto;
  height: 40px;
  padding-left: 5px;
  font-size: 30px;
}

.checkout-overview-container ul {
  list-style-type: none;
}

/* .checkout-items {
  border-top: 1px solid black;
} */

.checkout-total {
  border-top: 1px solid black;
}

.overview-flex {
  display: flex;
  align-content: space-around;
}

.contact-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container input {
  margin: 5px;
  width: 500px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
}

.delivery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-delivery {
  border: 1px solid rgb(182, 177, 177);
  border-radius: 8px;
  margin-top: 20px;
  height: 12vh;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chosen-delivery {
  border: 4px solid blue;
}

.choose-delivery:hover {
  border: 4px solid blue;
}

.payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
}

.payment-container input {
  margin: 5px;
  width: 300px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
}

.checkout-overview-container-payment li {
  list-style-type: none;
  margin: 5px;
  width: auto;
  height: 20px;
  padding-left: 5px;
  font-size: 20px;
  margin-bottom: 2vh;
}

.dropdowns-cvv {
  display: flex;
  align-items: center;
}

.credit-cards {
  display: flex;
  margin-bottom: 1vh;
}

.mastercard {
  margin-right: 2vh;
}

.visa-card {
  margin-right: 2vh;
}

input {
  border: 2px solid rgb(18, 17, 19);
  border-radius: 5px;
}

input:hover {
  border: 4px solid darkblue;
}

input:focus {
  border: 3px solid blue;
}
