.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.product-desc {
  width: 500px;
  margin: 30px;
}
.product-card {
  padding: 20px;
}

.product-image {
  height: 550px;
}
