.product-wrapper {
  /* width: 1000px; */
  background: rgb(238, 236, 236);
}

.product-container {
  display: flex;
  padding: 20px 0;
  /* background: rgb(175, 175, 175); */
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
}

.product-image {
  height: 400px;
  cursor: pointer;
}

/* .product-desc {
  width: 400px;
} */
.product-card {
  /* order: -2; */
  padding: 0 10px;
}

h1 {
  text-align: center;
}
