.products-wrapper {
  background-color: #f7f4eb;
  padding: 0 1rem;
}

.products-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.8fr 1fr;

  padding-bottom: 5rem;
}

.specs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  margin: 1rem;
  padding: 2rem 1rem;
  border-radius: 8px;
}
.products-image {
  width: 40%;
  cursor: pointer;
}

.plans {
  text-transform: uppercase;
  padding: 5rem 0 0 0;
  font-weight: 600;
  letter-spacing: 1px;
  color: #7baf42;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.shortdesc {
  width: 75%;
}

.products-card-0 > .products-image,
.products-card-1 > .products-image,
.products-card-2 > .products-image {
  height: 400px;
  margin-left: 6em;
  padding: 0 10px;
}

.products-card-3 > .products-image,
.products-card-4 > .products-image,
.products-card-5 > .products-image {
  margin-left: 6.25em;
  margin-top: 5em;
}

.btn-product {
  padding: 8px;
  font-family: inherit;
  border-color: rgb(90, 159, 232);
  background-color: rgb(255, 189, 118);
  color: rgb(32, 134, 244);
  border-radius: 5px;
}

.product-btn {
  padding: 8px;
}

.product-link-btn {
  color: black;
}
