.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 3rem;
}

.product-desc {
  letter-spacing: 1px;
}
.product-card {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.product-image {
  height: 550px;
}
