<<<<<<< HEAD
.shopping {
    display: grid;
    justify-content: center;
  }

  .red {
    color: rgb(211, 37, 37)!important;
    display: inline-block!important;
=======
.asd {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

.shopping {
    display: grid;
    justify-content: center;
>>>>>>> Checkout
  }