.shopping {
  display: grid;
  justify-content: center;
}

.red {
  color: rgb(211, 37, 37) !important;
  display: inline-block !important;
}

.small {
  height: 300px;
}

.cart-list {
  padding: 20px;
}

.checkout-cart {
  border: 1px solid black;
  padding: 20px;
}

.right {
  float: right;
}

.quantity {
  padding: 10px;
}